<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">

<div class="container">

    <div class="box1">
      <h4 class="mat-subheader">InstaPower@Coolsmastraat</h4>
      <mat-progress-bar mode="determinate" [value]="updateCounter$"></mat-progress-bar>
    </div>

  <div class="box2"></div>
  <div class="box2"></div>

    <div class="box2">
      <div *ngIf="polledPower$ < 0 || polledPower$ === 0">
        <p class="mat-headline mat-error">{{polledPower$ * -1}} {{polledUnit$}}</p>
        <p class="mat-subheader">You are consuming!</p>
      </div>
      <div *ngIf="polledPower$ > 0">
        <p class="mat-headline mat-active">{{polledPower$}} {{polledUnit$}}</p>
        <p class="mat-subheader">You are producing!</p>
      </div>
    </div>

    <div class="box3">
      <app-power-line-chart [data]="polledPowerArray"></app-power-line-chart>
    </div>

</div>



<router-outlet></router-outlet>

