
<div class="container">


  <div class="header">
    Power@4813ct
  </div>

  <app-info class="app"></app-info>

  <!--<div class="graph_container">-->
    <!--<div class="daily_power_graph">-->
      <!--<app-dailypower></app-dailypower>-->
      <!--<app-dailypower></app-dailypower>-->
  <div class="a">#1</div>
  <div class="b">#2</div>
    <!--</div>-->
  <!--</div>-->

</div>

<!--<div class="instapowergraph">-->
  <!--<app-power-gauge></app-power-gauge>-->
<!--</div>-->

<!--<router-outlet></router-outlet>-->
