<div class="grid-container">
  <h1 class="mat-h1">Power@4813CT</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <div [ngSwitch]="card.component">

        <div *ngSwitchCase="'ActualPower'">
          <ng-container [ngTemplateOutlet]="actualpower"></ng-container>
        </div>

        <div *ngSwitchDefault>
          <ng-container [ngTemplateOutlet]="dailypowerseries"></ng-container>
        </div>
      </div>

    </mat-grid-tile>
  </mat-grid-list>
</div>

<ng-template #dailypowerseries>
  <mat-card class="dashboard-card">
    <mat-card-header>
      <mat-card-title>
        Power Today
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
      <app-dailypower></app-dailypower>
    </mat-card-content>
  </mat-card>
</ng-template>

<ng-template #actualpower>
  <mat-card class="dashboard-card">

    <mat-card-header>
      <div mat-card-avatar class="gauge-header-image"></div>
      <mat-card-title>Actual Power</mat-card-title>
      <mat-card-subtitle>@ this moment</mat-card-subtitle>
    </mat-card-header>

    <app-live-power [signature]="signature"></app-live-power>

    <mat-card-content class="dashboard-card-content">
      <p>
        Gauge showing <i>actual</i> or <i>instantaneous</i> power. Will be updated approx. every 30s.
      </p>
    </mat-card-content>

  </mat-card>
</ng-template>
