mat-grid-tile {
  background: lightgreen;
}

.grid-container {
  margin: 0;
}

.dashboard-card {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.gauge-header-image {
  background-image: url('https://picsum.photos/g/200');
  background-size: cover;
}

.dashboard-card-content {
}
