mat-grid-tile {
  background: lightgreen;
}

.grid-container {
  margin: 0px;
}

.dashboard-card {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.dashboard-card-content {
  text-align: center;
}
