/* Center de gauge */
#canvas {
  display: block;
  //width: 80%;
  height: auto;
  margin: 10px auto;
  border: yellowgreen 1px dotted;
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  //background-color: #3E879E;
}
